{
  "extends": "eslint:recommended",
  // ref: http://eslint.cn/docs/user-guide/configuring#specifying-parser-options
  "parserOptions": {
    "ecmaVersion": "2019",
    "sourceType": "module",
  },
  // ref: http://eslint.cn/docs/user-guide/configuring#specifying-environments
  "env": {
    // 浏览器环境中的全局变量
    "browser": true,
    // Node.js 全局变量和 Node.js 作用域。
    "node": true,
    // 启用除了 modules 以外的所有 ECMAScript 6 特性（该选项会自动设置 ecmaVersion 解析器选项为 6）。
    "es6": true,
  },
  // ref: http://eslint.cn/docs/rules/
  "rules": {
    // 要求在语句末尾使用分号
    "semi": ["error", "always"],
    // 要求或禁止使用拖尾逗号
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"
    }],
    "max-len": ["error", {
      "code": 140,
      "tabWidth": 2,
    }],
    "max-lines": ["error", {
      "max": 400,
      // 忽略只包含注释的行
      "skipComments": true,
    }],
    "lines-around-comment": ["error", {
      "beforeBlockComment": true,
      "beforeLineComment": true,
    }],
    "multiline-comment-style": ["error", "starred-block"],
  }
}
